<div id="root">
  <NavBar />
  <slot />
</div>

<script>
  import "../app.scss";

  import NavBar from "../components/NavBar.svelte";
</script>

<style lang="scss">
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
</style>