<title>Xila Website</title>

<h2>Strona Główna</h2>
<Avatar />
<b>Hej to ja Xila, jestem człowiekiem</b>
<h3><i class="fa-brands fa-discord"></i> xila#9955</h3>


<script>
    import Avatar from "../components/Avatar.svelte";
</script>