<title>Xila Website - Sprzęt</title>

<h2>Sprzęt</h2>

<h3>MainPC:</h3>
<img src="images/neofetch.png" width="400" id="neofetch" alt="main computer">


<h3>Laptopy:</h3>
<ul>
    <li>Chromebook lenovo n23 (main)</li>
    <li>HP EliteBook 8440P</li>
</ul>

<h3>Telefony:</h3>
<ul>
    <li>Xioami note 10 pro (main)</li>
    <li>Xioami mi a2</li>
    <li>Sony Xpiera Z1</li>
    <li>Nokia Lumia 365</li>
</ul>

<h4 style="color: red;">Nie Kompletna lista!</h4>