<title>Xila Website - Projekty</title>

<h2>Projekty</h2>

{#each projects as project }
    <Project title={project.title} description={project.description} image={project.image} />
{/each}


<script>
    import Project from "../../components/Project.svelte";

    import { projects } from "../../lib/db/projects"
</script>