<img src="images/avatar.jpg" alt="avatar" title="tak to astolfo :3">

<style>
    img {
        width: 185px;
        height: 180px;
        border-radius: 50%;
        border: dotted 7px #303551;
        margin-bottom: 5px;
    }
</style>