<img src="images/freddongo.png" id="freddongo" title="jadymy na kurwy">

<style>
    #freddongo {
        width: 250px;
        height: 10px;
        position: absolute;
        top: 100%;
    }
</style>

<script>
    import { onMount } from "svelte";

    onMount(() => {
        const music = new Audio("jadymyNaKurwy.mp3");
        
        const freddongo = document.getElementById("freddongo");
        
        freddongo.addEventListener("click", () => {
            freddongo.style.top = "42%";
            freddongo.style.height = "211px";
            freddongo.style.width = "156px";
            if(music.currentTime == 0){
                music.play();
                console.log("jadymy na kurwy!");
            }
        });
    });
</script>