<nav>
    <a href="/" title="Home"><i class="fa-sharp fa-solid fa-house"></i></a>
    <a href="/links" title="Links"><i class="fa-solid fa-link"></i></a>
    <a href="/hardware" title="Hardware"><i class="fa-sharp fa-solid fa-memory"></i></a>
    <a href="/projects" title="Projects"><i class="fa-solid fa-box-archive"></i></a>
</nav>

<style lang="scss">
    @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 350px;
        height: 55px;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 50px;
        background-color: #111422;
    }

    a {
        color: #414662;
        font-size: 25pt;
        text-decoration: none;
    }
    
    @media screen and (min-width: 600px) {
        a:hover { border-bottom: solid 2px #4a4d5f; }
    }
</style>