<div id="project">
    <img src={image}>
    <h3>{title}</h3>
    <span>{description}</span>
</div>

<script>
    export let title;
    export let description;
    export let image;
</script>

<style lang="scss">
    #project {
        width: 365px;
        height: 262px;
        background-color: #111422;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 3%;
        margin-bottom: 10px;

        img {
            width: 320px;
            height: 150px;
        }
    }
</style>