<title>Xila Website - Linki</title>

<h2>Linki</h2>
<ul>
    <li><a href="https://www.youtube.com/@xila1"><i class="fa-brands fa-youtube"></i> YouTube</a></li>
    <li><a href="https://www.reddit.com/user/DodoYT"><i class="fa-brands fa-reddit"></i> Reddit</a></li>
    <li><a href="https://steamcommunity.com/id/xilusia/"><i class="fa-brands fa-steam"></i> Steam</a></li>
</ul>

<Freddonge />


<script>
    import Freddonge from "../../components/Freddonge.svelte";
</script>

<style lang="scss">
    ul li {
        list-style: none;

        a {
            font-size: 24pt;
        }
    }
</style>